<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <!-- Google Material Icon  Library-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="stickOnApp" ng-cloak>

  <div ng-controller="appCtrl">

<!-- simple toolbar with menu -->
  <md-toolbar class="md-hue-2">
   <div class="md-toolbar-tools">
     <md-button class="md-icon-button" aria-label="Favorite">
       <md-icon><i class="material-icons">layers</i></md-icon>
     </md-button>
     <h2>
       <span>Stick On</span>
     </h2>
     <span flex></span>
     <md-button class="md-fab" aria-label="Eat cake" ng-click="showAddSticky($event)">
        <md-icon><i class="material-icons">note_add</i></md-icon>
    </md-button>
   </div>
  </md-toolbar>

<!-- cards -->
  <md-content class="md-padding" layout="row" layout-wrap>
    <div flex-xs flex-gt-xs="50" flex-sm="100" flex-gt-sm="100" layout="row" layout-align="center center" layout-wrap>
      <md-card class="padded" style="width: 300px;" md-whiteframe="10" ng-repeat="sticky in stickies" layout-wrap>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline sticky-title">{{ sticky.title }}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p ng-bind-html="sticky.text | formatText" class="sticky-text"></p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
          <span>{{ -sticky.timestamp | date:'short' }}</span>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="edit" ng-click="showEditSticky($event, sticky)">
            <md-icon><i class="material-icons">mode_edit</i></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="delete" ng-click="deleteSticky(sticky)">
            <md-icon ><i class="material-icons">clear</i></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>

</div>

  
  <!-- Angular Material requires Angular.js Libraries -->

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="http://code.angularjs.org/1.2.0rc1/angular-sanitize.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  

  <!-- firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>

  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>

  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBPKFraRS0wqYj9_Yp2b1sYMuapjJH98ew",
      authDomain: "mystickyapp.firebaseapp.com",
      databaseURL: "https://mystickyapp.firebaseio.com",
      storageBucket: "mystickyapp.appspot.com",
      messagingSenderId: "1037022995801"
    };
    firebase.initializeApp(config);
  </script>
  <!-- Your application bootstrap  -->
  <script type="text/ng-template" id="dialog1.tmpl.html"><md-dialog aria-label="Edit Sticky">
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Add Sticky</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <i class="material-icons">clear</i>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <md-input-container class="md-block">
            <label>Title</label>
            <input md-no-asterisk name="description" ng-model="sticky.title">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="md-maxlength">The description must be less than 25 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Text</label>
            <textarea rows="3" md-select-on-focus ng-model="sticky.text"></textarea>
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The description must be less than 300 characters long.</div>
            </div>
          </md-input-container>
        </div>
      </md-dialog-content>

      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="sticky(sticky.title, sticky.text)" ng-enter="sticky(sticky.title, sticky.text)">
          Submit
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
  </script>

  <script type="text/ng-template" id="dialog2.tmpl.html"><md-dialog aria-label="Edit Sticky">
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Edit Sticky</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <i class="material-icons">clear</i>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <md-input-container class="md-block">
            <label>Title</label>
            <input md-no-asterisk name="title" ng-model="sticky.title" ng-init="sticky.title">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="md-maxlength">The description must be less than 25 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Text</label>
            <textarea rows="3" md-select-on-focus name="text" ng-model="sticky.text" ng-init="sticky.text"></textarea>
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
              <div ng-message="md-maxlength">The description must be less than 300 characters long.</div>
            </div>
          </md-input-container>
        </div>
      </md-dialog-content>

      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="updateSticky()">
          Submit
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
  </script>

  <script type="text/javascript"> 
    let app = angular.module('stickOnApp', ['ngMaterial', 'firebase', 'ngSanitize']);
    app.config(($mdThemingProvider) => {
    $mdThemingProvider.theme('default')
      .primaryPalette('light-blue')
      .accentPalette('pink');
    })
    app.controller('appCtrl', ['$scope', '$firebaseArray', '$mdSidenav', '$mdDialog', ($scope, $firebaseArray, $mdSidenav, $mdDialog) => {


      // firebase ADD, DELETE, EDIT sticky functions
        let database = firebase.database().ref("/stickies").orderByChild('timestamp');
        $scope.stickies = $firebaseArray(database);

        addSticky = (title, text) => {
            $scope.stickies.$add({
            title: title,
            text: text,
            timestamp: 0 - Date.now()
            });
        };

        $scope.deleteSticky = (sticky) => {
          console.log(sticky)
          let index = $scope.stickies.indexOf(sticky);
          $scope.stickies.$remove(index).then((database) => {
            database.key === index.$id;
          })
        }

        editSticky = (sticky) => {
          console.log('insnide edit', sticky)
          let index = $scope.stickies.indexOf(sticky);

          $scope.stickies.$save(index).then((database) => {
            database.key == $scope.stickies[index].$id;
          })
        }

        $scope.toggleSidenav = (menuId) => {
          $mdSidenav(menuId).toggle();
        }
 
        $scope.status = ' ';
        $scope.customFullscreen = false;

        AddStickyDiagCtrl = ($scope, $mdDialog) => {
          $scope.hide = () => {
            $mdDialog.hide();
          };

          $scope.cancel = () => {
            $mdDialog.cancel();
          };

          $scope.sticky = (title, text) => {
            // add sticky
            addSticky(title, text);
            $mdDialog.hide(title, text);
          };
        }

        $scope.showAddSticky = (ev) => {
           $mdDialog.show({
             controller: AddStickyDiagCtrl,
             templateUrl: 'dialog1.tmpl.html',
             parent: angular.element(document.body),
             targetEvent: ev,
             clickOutsideToClose:true,
             fullscreen: $scope.customFullscreen // Only for -xs, -sm breakpoints.
           })
           .then((sticky) => {
              $scope.status = 'sticky has been added';
           }, () => {
             $scope.status = 'You cancelled the dialog.';
           });
        };

        $scope.showEditSticky = (ev, sticky) => {
           $mdDialog.show({
             controller: EditStickyDiagCtrl,
             templateUrl: 'dialog2.tmpl.html',
             parent: angular.element(document.body),
             targetEvent: ev,
             clickOutsideToClose:true,
             fullscreen: $scope.customFullscreen, // Only for -xs, -sm breakpoints.
             locals: {
              sticky: sticky
             }
           })
           .then((sticky) => {
              $scope.status = 'sticky has been edited';
           }, () => {
             $scope.status = 'You cancelled the dialog.';
           });
        };

        EditStickyDiagCtrl = ($scope, $mdDialog, sticky) => {
          $scope.sticky = sticky
          
          $scope.hide = () => {
            $mdDialog.hide();
          };

          $scope.cancel = () => {
            $mdDialog.cancel();
          };

          $scope.updateSticky = () => {
            editSticky(sticky);
            $mdDialog.hide();
          };
        }
         
    }]);
    app.filter('formatText', () => {
     return (input) => {
      if(!input) return input;

      let output = input.replace(/(\r\n|\r|\n)/g, '<br/>')
          //replace tabs
          .replace(/\t/g, '&nbsp;&nbsp;&nbsp;')
          //replace spaces.
          .replace(/ /g, '&nbsp;');
      return output;
     } 
    });

  </script>
  
</body>
</html>

